{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/intentccyVt/providers/Microsoft.RecoveryServices/vaults/intentCCY/replicationProtectionIntents/intentName?api-version=2021-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/intentccyVt/providers/Microsoft.RecoveryServices/vaults/intentCCY/replicationProtectionIntents/intentName\",\r\n  \"name\": \"intentName\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationProtectionIntents\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"intentName\",\r\n    \"jobId\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/intentccyVt/providers/Microsoft.RecoveryServices/vaults/intentCCY/replicationJobs/3ed88434-329c-45cf-9d02-c23c64ecd98b\",\r\n    \"jobState\": \"InProgress\",\r\n    \"isActive\": true,\r\n    \"creationTimeUTC\": \"3/19/2021 7:09:02 AM\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"A2A\",\r\n      \"fabricObjectId\": \"/subscriptions/509099b2-9d2c-4636-b43e-bd5cafb6be69/resourceGroups/sdkRG/providers/Microsoft.Compute/virtualMachines/sdkPrimaryVm\",\r\n      \"primaryLocation\": \"uksouth\",\r\n      \"recoveryLocation\": \"ukwest\",\r\n      \"recoverySubscriptionId\": \"b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c\",\r\n      \"vmDisks\": null,\r\n      \"vmManagedDisks\": null,\r\n      \"recoveryResourceGroupId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/adkRecovery\",\r\n      \"protectionProfile\": {\r\n        \"policyName\": \"intentPolicy\",\r\n        \"recoveryPointHistory\": 1440,\r\n        \"crashConsistentFrequencyInMinutes\": 10,\r\n        \"appConsistentFrequencyInMinutes\": 60,\r\n        \"multiVmSyncStatus\": \"Enable\",\r\n        \"resourceType\": \"New\"\r\n      },\r\n      \"primaryStagingStorageAccount\": null,\r\n      \"recoveryAvailabilitySet\": null,\r\n      \"recoveryVirtualNetwork\": null,\r\n      \"recoveryProximityPlacementGroup\": null,\r\n      \"autoProtectionOfDataDisk\": \"Enabled\",\r\n      \"multiVmGroupName\": null,\r\n      \"multiVmGroupId\": null,\r\n      \"recoveryBootDiagStorageAccount\": null,\r\n      \"diskEncryptionInfo\": null,\r\n      \"recoveryAvailabilityZone\": null,\r\n      \"recoveryAvailabilityType\": \"Single\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c"
  }
}